.wrapper {
    max-width: 631px;
    padding-top: 12px;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    gap: 44px;
}


.reviewHeader{
    display: flex;
    gap: 16px;
}

.nameLetter{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: var(--badges);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--button);
}

.reviewNameStars{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--main);
    margin-bottom: 16px;
}