.wrapper {
    display: flex;
    gap: 32px;
    padding: 48px 64px;
}

.campersList {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 40px;
}

.camperCard {
    display: flex;
    gap: 24px;
    padding: 24px;
    border-radius: 20px;
    border: 1px solid var(--gray-light);
    background: var(--white);
}

.camperImg {
    border-radius: 10px;
    width: 292px;
    height: 320px;
    object-fit: cover;
}

.camperTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.camperName {
    color: var(--Main, #101828);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
    margin: 0;
}

.priceFav {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.favBtn {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.favBtn.active {
    color: var(--button);
}

.favIcon {
    width: 24px;
    height: 24px;
}

.favIcon.active {
    fill: var(--button);
}

.camperRatLoc {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    align-items: baseline;
}

.camperRating {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main);
    text-decoration: underline;
}

.camperLocation {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main);
}


.camperFeatures {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.camperFeaturesItem {
    display: flex;
    padding: 12px 18px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: var(--badges);
    color: var(--Main, #101828);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.showMoreBtn {
    border-radius: 200px;
    width: 166px;
    height: 56px;
    border: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: var(--white);
    background-color: var(--button);
}

.showMoreBtn:hover,
.showMoreBtn:active {
    background-color: var(--button-hover);
}

.loadMoreBtn {
    display: block;
    margin: 0 auto;
    width: 145px;
    height: 56px;
    border-radius: 200px;
    border: 1px solid var(--gray-light);
    background-color: transparent;
    color: var(--main);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.01em;
}