body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  margin: 0;
  box-sizing: border-box;
  width: 1440px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: inherit;
  color: inherit;
}

button {
  padding: 0;
  cursor: pointer;
}

:root {
  --main: #101828;
  --text: #475467;
  --gray: #6C717B;
  --button: #E44848;
  --button-hover: #D84343;
  --rating: #FFC531;
  --gray-light: #DADDE1;
  --badges: #F2F4F7;
  --inputs: #F7F7F7;
  --white: #FFF;
}